extends ../layout

block content
    h1.
        Trip ID   #{trip._id}
    form(action='/trips/#{trip._id}/edit',method='post',name='updatetrip',enctype='application/x-www-form-urlencoded')
        p from:
            input#inputStart(type='text', value='#{trip.start}', name='start')
        p to:
            input#inputTo(type='text', value='#{trip.to}', name='to')
        p on:
            input#inputTravelDate(type='date', value='#{trip.travelDate}', name='travelDate')
        p Is it booked?:
            input#inputbooked(type='checkbox', name='booked', checked=('#{trip.booked}'==='true' ? "checked" : undefined))
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Update
